{{!-- The following component displays Ember's default welcome message. --}}
<!--{{partial 'footer'}}-->
{{!-- Feel free to remove this! --}}

<div class="container">
    <div class="col-sm-12">
        <br/><br/><br/>
        {{outlet}}
        <br/><br/><br/>
    </div>
</div>
{{partial 'footer'}}