<div class="container-fluid login_bg mt20">
   <div class="container">
      <footer class="navbar-fixed-bottom navbar-inverse">
<div class="col-sm-4  center-align navbar-text">
   <p class="text-muted">&copy; 2017 AUDI AG. All rights reserved</p>  
   </div>
   </footer>
</div>
</div>